<div data-ng-include="'./../partials/menu/menu.html'"></div>
<div data-ng-controller="dashCursoCtrl as vmDashCursos">
    <div class="row">
        <h1 class="title-main center">painel de controle {{ vmDashCursos.curso.nome }}</h1>
        <div class="col l4">
            <a href="#!/cadastro-semestre-letivo/{{vmDashCursos.curso._id}}" class="waves-effect waves-light btn btn-large col l12 ">Cadastrar Semestre Letivo</a>
        </div>
    </div>
    <div class="row">
        <h2 class="title-main card-panel">semestres ativos</h2>
        <h5 class="title-main center-align">primeiro semestre</h5>
        <div data-ng-repeat="semestre in vmDashCursos.listarSemestre">
            <div data-ng-if="semestre.semestre == 'primeiro'">
                <div class="col l3"> <a href="#!/selecionar-disciplina/{{semestre._id}}" class="waves-effect red lighten-2 btn btn-large col l12 ">{{semestre.disciplina}}</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="title-main center-align">segundo semestre</h5>
        <div data-ng-repeat="semestre in vmDashCursos.listarSemestre">
            <div data-ng-if="semestre.semestre == 'segundo'">
                <div class="col l3"> <a href="#!/selecionar-disciplina/{{semestre._id}}" class="waves-effect red lighten-2 btn btn-large col l12 ">{{semestre.disciplina}}</a></div>
            </div>
        </div>
    </div>
</div>