<div data-ng-include="'./../partials/menu/menu.html'"></div>
    <h1 class="title-main center">Disciplinas que precisam de atenção</h1>
<div class="row">
    
    <div class="card yellow lighten-4 col s4">
        <div class="card-content black-text">
            <span class="card-title"></span>
            <span class="bold">Disciplina: Estrutura de dados</span>
            <p>Professor: Casper</p>
            <p>Frequência: 30%</p>
            <p>Média da turma: 9.0</p>
            <span class="red lighten-2 white-text">Notificado porque a frequência do professor não condiz com a média da sala</span>
        </div>
        <div class="card-action">
            <button class="black-text yellow lighten-2 waves-effect  waves-light btn">Detalhes</button>
            <button class="black-text green lighten-2 waves-effect  waves-light btn">Resolvido</button>
        </div>
    </div>
</div>