<div data-ng-include="'./../partials/menu/menu.html'"></div>
<div data-ng-controller="dashCursoCtrl as vmSemestre">
    <div class="card-panel">
        <span class="black-text">disciplina de {{ vmSemestre.semestre.disciplina }} do {{ vmSemestre.semestre.semestre }} semestre - {{vmSemestre.semestre.curso}}</span>
    </div>
    <h1 class="title-main center">alunos matriculados</h1>
    <div class="row">
        <table class="highlight">
            <thead>
                <tr>
                    <th data-field="id">Nome do aluno</th>
                    <th data-field="name">Notas</th>
                    <th data-field="name">Faltas</th>
                    <th data-field="price">Média</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="aluno in vmSemestre.semestre.alunosMatriculados">
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.notas}}</td>
                    <td></td>
                    <td>{{aluno.notas | mediaNotas}}</td>
                    <td></td>
                    <td><a data-ng-click="vmSemestre.inserirNota()" href="modalNota" class="waves-effect waves-light btn">Inserir nota</a></td>
                    <td><a class="waves-effect waves-light btn">Inserir falta</a></td>
                </tr>
        </table>
        <!--<div data-ng-repeat="aluno in vmSemestre.semestre.alunosMatriculados">
            <div class="card col s3 grey lighten-3">
                <div class="card-content black-text">
                    <span class="card-title"></span>
                    <p>{{aluno.nome}}</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>-->
    </div>
    <div id="modalNota" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</div>
</div>